In [15]:
import pandas as pd
import numpy as np

In [16]:
# create dataframe using np array
df = pd.DataFrame(np.arange(0,10).reshape(2,5),index=["row1","row2"],columns=["column1","column2","column3","column4","column5"])
df

      column1  column2  column3  column4  column5
row1        0        1        2        3        4
row2        5        6        7        8        9

In [17]:
a = [1, 7, 2]
myvar = pd.DataFrame(a,index=["x","y","z"])
myvar

   0
x  1
y  7
z  2

In [18]:
# Accessing elements in pandas
# loc is used to access a specific row or rows
# dataframe.loc[rowname]
df.loc["row1"]

column1    0
column2    1
column3    2
column4    3
column5    4
Name: row1, dtype: int32

In [19]:
df.loc[["row1","row2"]]

      column1  column2  column3  column4  column5
row1        0        1        2        3        4
row2        5        6        7        8        9

In [30]:
# Accessing elements using iloc
df.iloc[0,2]

2

In [31]:
# Turn dataframe to array using values function
df.iloc[:,:].values

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [33]:
df.loc["row1"].values

array([0, 1, 2, 3, 4])

In [34]:
df['column1']

row1    0
row2    5
Name: column1, dtype: int32

In [36]:
df[['column1','column2']]

      column1  column2
row1        0        1
row2        5        6

In [ ]:
df.isnull()