In [1]:
import pandas as pd
import numpy as np

In [5]:
# create dataframe using np array
df = pd.DataFrame(np.arange(0,10).reshape(2,5),index=["row1","row2"],columns=["column1","column2","column3","column4","column5"])
df

      column1  column2  column3  column4  column5
row1        0        1        2        3        4
row2        5        6        7        8        9